<div class="navbar">
<!--  <button routerLink="/users" class="nav-button">View Users</button>-->
<!--  <button routerLink="/saveUser" class="nav-button">Save User</button>-->
<!--  <button routerLink="/login" class="nav-button">Login</button>-->
<!--  <button routerLink="/admin" class="nav-button">Admin Page</button>-->
<!--  <button routerLink="/member" class="nav-button">Member Page</button>-->
<!--  <button routerLink="/register" class="nav-button">Register Page</button>-->
<!--  <button routerLink="/login" class="nav-button">Login Page</button>-->
  <ul>
    <li><a routerLink="/admin">Admin Page</a></li>
    <li><a routerLink="/member">Member Page</a></li>
    <li><a routerLink="/register">Register Page</a></li>
    <li><a routerLink="/login">Login Page</a></li>

  </ul>
</div>

<router-outlet></router-outlet>
