<div class="navbar">
  <img priority class="logo" ngSrc="/etiya.svg" width="165" height="40" alt="Etiya">
  <ul>
    <li><a routerLink="/admin">Admin Page</a></li>
    <li><a routerLink="/member">Member Page</a></li>
  </ul>
  <ul>
    <li class="profile-menu" (click)="toggleMenu()">
      Profile
      <ul class="dropdown-menu" [ngClass]="{'show': isMenuOpen}">
        <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/profile">Profile</a></li>
        <li *ngIf="isLoggedIn"><a (click)="signOut()">Sign Out</a></li>
      </ul>
    </li>
  </ul>
</div>
<div class="router-outlet-container">
  <router-outlet></router-outlet>
</div>
<app-notification></app-notification>
