<div class="container">
  <h2>All Users</h2>

  <div class="button-div">
    <button class="btn btn-primary" (click)="getAllUsers()">Get All Users</button>
    <button class="btn btn-primary" (click)="close()">Close Table</button>
  </div>

  <table class="all-user-table" *ngIf="showTable">
    <thead>
    <tr>
      <th>User ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Role</th>
      <th>Course Bundle</th>
      <th>Arrival</th>
      <th>Authorities</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{user.password}}</td>
      <td>
        <ul>
          <li *ngFor="let role of user.roles">{{role}}</li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let courseBundle of user.courseBundles">
            CourseBundle ID: {{courseBundle.id}}, Total Courses: {{courseBundle.totalCourse}}, Remaining Courses: {{courseBundle.remainingCourses}}
            <ul>
              <li *ngFor="let arrival of courseBundle.arrivals">Arrival ID: {{arrival.id}}, Date: {{arrival.date}}, Status: {{arrival.status}}</li>
            </ul>
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let arrival of user.arrivals">
            Arrival ID: {{arrival.id}}, Date: {{arrival.date}}, Status: {{arrival.status}}
          </li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let authorities of user.authorities">
            Authority: {{authorities.authority}}
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
