<div class="container">
  <h2>Get Calendar</h2>
  <div class="form-group">
    <button class="btn btn-primary" (click)="fetchCalendar()">Get Calendar</button>
  </div>

  <table class="table" *ngIf="filteredCalendar.length">
    <thead>
    <tr>
      <th>Arrival ID</th>
      <th>Date</th>
      <th>
        Status
        <select id="statusFilter" class="form-control" [(ngModel)]="selectedStatus" (change)="filterCalendar()">
          <option value="">All</option>
          <option value="ACTIVE">Active</option>
          <option value="PASSIVE">Passive</option>
        </select>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let arrival of filteredCalendar">
      <td>{{ arrival.id }}</td>
      <td>{{ arrival.date }}</td>
      <td>{{ arrival.status }}</td>
    </tr>
    </tbody>
  </table>
</div>
